In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.linear_model import LinearRegression, Ridge
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.preprocessing import StandardScaler, PolynomialFeatures

In [7]:
iowatrain = pd.read_csv('./datasets/iowatrain_clean3.csv')

In [8]:
iowatrain.head()

,Unnamed: 0,pid,lot_frontage,lot_area,lot_shape,utilities,land_slope,overall_qual,overall_cond,year_built,...,misc_feature_Shed,misc_feature_TenC,sale_type_CWD,sale_type_Con,sale_type_ConLD,sale_type_ConLI,sale_type_ConLw,sale_type_New,sale_type_Oth,sale_type_WD
0,0,533352170,0.0,13517,2,1,1,6,8,1976,...,0,0,0,0,0,0,0,0,0,1
1,1,531379050,43.0,11492,2,1,1,7,5,1996,...,0,0,0,0,0,0,0,0,0,1
2,2,535304180,68.0,7922,1,1,1,5,7,1953,...,0,0,0,0,0,0,0,0,0,1
3,3,916386060,73.0,9802,1,1,1,5,5,2006,...,0,0,0,0,0,0,0,0,0,1
4,4,906425045,82.0,14235,2,1,1,6,8,1900,...,0,0,0,0,0,0,0,0,0,1