# Imports

In [1]:
import pandas as pd

# Read Data

In [2]:
data = pd.read_csv('./test.csv.gz')

In [3]:
data.head(3)

,ID,Name,DateTime,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color
0,1,Summer,2015-10-12 12:15:00,Dog,Intact Female,10 months,Labrador Retriever Mix,Red/White
1,2,Cheyenne,2014-07-26 17:59:00,Dog,Spayed Female,2 years,German Shepherd/Siberian Husky,Black/Tan
2,3,Gus,2016-01-13 12:20:00,Cat,Neutered Male,1 year,Domestic Shorthair Mix,Brown Tabby

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11456 entries, 0 to 11455
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              11456 non-null  int64
 1   Name            8231 non-null   object
 2   DateTime        11456 non-null  object
 3   AnimalType      11456 non-null  object
 4   SexuponOutcome  11456 non-null  object
 5   AgeuponOutcome  11450 non-null  object
 6   Breed           11456 non-null  object
 7   Color           11456 non-null  object
dtypes: int64(1), object(7)
memory usage: 716.1+ KB